In [64]:
import pandas as pd
import numpy as np


# Assuming 'data/2022_oes_ds_st_indus.csv' is the correct path to your file
df = pd.read_csv(
    "data/2022_oes_ds_st_indus.csv", index_col=0, na_values=["**", "*", "~", "#"]
)

# To replace commas and convert to float, we should apply a lambda function that replaces commas across all selected columns
df["A_MEAN"] = df.A_MEAN.str.replace(
    ",",
    "",
).astype("float")
df.info()
df["TOT_EMP"] = df.TOT_EMP.str.replace(
    ",",
    "",
).astype("float")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1565 entries, 226310 to 227874
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AREA         1565 non-null   int64
 1   AREA_TITLE   1565 non-null   object
 2   NAICS        1565 non-null   object
 3   NAICS_TITLE  1565 non-null   object
 4   I_GROUP      1565 non-null   object
 5   OCC_CODE     1565 non-null   object
 6   OCC_TITLE    1565 non-null   object
 7   O_GROUP      1565 non-null   object
 8   TOT_EMP      1444 non-null   object
 9   EMP_PRSE     1444 non-null   float64
 10  PCT_TOTAL    1443 non-null   float64
 11  H_MEAN       1524 non-null   float64
 12  A_MEAN       1524 non-null   float64
 13  MEAN_PRSE    1526 non-null   float64
 14  H_PCT10      1524 non-null   float64
 15  H_PCT25      1524 non-null   float64
 16  H_MEDIAN     1524 non-null   float64
 17  H_PCT75      1518 non-null   float64
 18  H_PCT90      1490 non-null   float64
 19  A_PCT10      1524 non-null   object
 20  A_PCT25      1524 non-null   object
 21  A_MEDIAN     1524 non-null   object
 22  A_PCT75      1518 non-null   object
 23  A_PCT90      1490 non-null   object
 24  ANNUAL       0 non-null      float64
 25  HOURLY       0 non-null      float64
dtypes: float64(12), int64(1), object(13)
memory usage: 330.1+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 1565 entries, 226310 to 227874
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   AREA         1565 non-null   int64
 1   AREA_TITLE   1565 non-null   object
 2   NAICS        1565 non-null   object
 3   NAICS_TITLE  1565 non-null   object
 4   I_GROUP      1565 non-null   object
 5   OCC_CODE     1565 non-null   object
 6   OCC_TITLE    1565 non-null   object
 7   O_GROUP      1565 non-null   object
 8   TOT_EMP      1444 non-null   float64
 9   EMP_PRSE     1444 non-null   float64
 10  PCT_TOTAL    1443 non-null   float64
 11  H_MEAN       1524 non-null   float64
 12  A_MEAN       1524 non-null   float64
 13  MEAN_PRSE    1526 non-null   float64
 14  H_PCT10      1524 non-null   float64
 15  H_PCT25      1524 non-null   float64
 16  H_MEDIAN     1524 non-null   float64
 17  H_PCT75      1518 non-null   float64
 18  H_PCT90      1490 non-null   float64
 19  A_PCT10      1524 non-null   object
 20  A_PCT25      1524 non-null   object
 21  A_MEDIAN     1524 non-null   object
 22  A_PCT75      1518 non-null   object
 23  A_PCT90      1490 non-null   object
 24  ANNUAL       0 non-null      float64
 25  HOURLY       0 non-null      float64
dtypes: float64(13), int64(1), object(12)
memory usage: 330.1+ KB

In [65]:
state = df[["AREA_TITLE", "TOT_EMP", "A_MEAN"]]

# Undo the average using the weight
state.loc[:, "A_MEAN"] = state["A_MEAN"] * state["TOT_EMP"]

# Groupby and sum to get the total employment weighted average
state = state.groupby("AREA_TITLE").sum(numeric_only=True)

# Reweight the average

state["A_MEAN"] = state["A_MEAN"] / state["TOT_EMP"]

In [66]:
df[df["AREA_TITLE"] == "Vermont"]["TOT_EMP"]

227753   NaN
227754   NaN
227755   NaN
227756   NaN
Name: TOT_EMP, dtype: float64

In [70]:
state.to_csv("data/2022_oes_state_salary.csv")
pd.read_csv("data/2022_oes_state_salary.csv").head()

   AREA_TITLE  TOT_EMP         A_MEAN
0     Alabama   2840.0   96254.190141
1      Alaska    130.0  132686.153846
2     Arizona   6720.0  105691.443452
3  California  90220.0  128726.526269
4    Colorado   9530.0  117141.867786