In [37]:
import pandas as pd

# This script references a file that is too large for github. Sorry.

df = pd.read_csv(
    "data/2022_oes_st_occ_indus.csv",
    usecols=[
        "AREA",
        "AREA_TITLE",
        "NAICS",
        "NAICS_TITLE",
        "OCC_TITLE",
        "I_GROUP",
        "O_GROUP",
        "TOT_EMP",
        "A_MEAN",
        "A_MEDIAN",
        "PCT_TOTAL",
    ],
    na_values=["**", "*", "¹", "#", "~"],
    thousands=",",
)

In [38]:
df = df[~df["AREA_TITLE"].isin(["Puerto Rico", "Guam", "Virgin Islands"])]

Notes:

¹ Relative Standard Error (RSE) is a measure of the reliability of a statistic; the smaller the relative standard error, the more precise the estimate",

\*  = indicates that a wage estimate is not available,

**  = indicates that an employment estimate is not available,

\# = indicates a wage that is equal to or greater than $115.00 per hour or $239,200 per year",

\~ = indicates a percent total less than 0.05% ,

In [39]:
# df[df.OCC_TITLE.eq(""Data Scientists"")]

state_indus_tot_empl = df[df.O_GROUP.eq("total") & df.I_GROUP.eq("sector")].pivot_table(
    index="AREA_TITLE", columns="NAICS_TITLE", values="TOT_EMP"
)
state_indus_tot_empl_melt = df.loc[
    df.O_GROUP.eq("total") & df.I_GROUP.eq("sector"),
    ["AREA_TITLE", "NAICS_TITLE", "TOT_EMP"],
]
display(state_indus_tot_empl_melt.head(2))
display(state_indus_tot_empl_melt.shape)
display(state_indus_tot_empl_melt.iloc[:, :2].drop_duplicates().shape)

      AREA_TITLE                                 NAICS_TITLE  TOT_EMP
16357    Alabama  Agriculture, Forestry, Fishing and Hunting   5800.0
16358     Alaska  Agriculture, Forestry, Fishing and Hunting    210.0

(1009, 3)

(1009, 2)

In [40]:
state_indus_median_salary = df[
    df.O_GROUP.eq("total") & df.I_GROUP.eq("sector")
].pivot_table(index="AREA_TITLE", columns="NAICS_TITLE", values="A_MEDIAN")
state_indus_salary_melt = df.loc[
    df.O_GROUP.eq("total") & df.I_GROUP.eq("sector"),
    ["AREA_TITLE", "NAICS_TITLE", "A_MEDIAN"],
]

In [41]:
sector_short_name = {
    "Accommodation and Food Services": "Food",
    "Administrative and Support and Waste Management and Remediation Services": "Waste",
    "Agriculture, Forestry, Fishing and Hunting": "Agriculture",
    "Arts, Entertainment, and Recreation": "Arts",
    "Construction": "Construction",
    "Educational Services": "Education",
    "Federal, State, and Local Government, excluding state and local schools and hospitals and the U.S. Postal Service (OES Designation)": "Government",
    "Finance and Insurance": "Finance",
    "Health Care and Social Assistance": "Health",
    "Information": "Information",
    "Management of Companies and Enterprises": "Management",
    "Manufacturing": "Manufacturing",
    "Mining, Quarrying, and Oil and Gas Extraction": "Mining",
    "Other Services (except Public Administration)": "Other",
    "Professional, Scientific, and Technical Services": "Professional",
    "Real Estate and Rental and Leasing": "Realty",
    "Retail Trade": "Retail",
    "Transportation and Warehousing": "Transportation",
    "Utilities": "Utilities",
    "Wholesale Trade": "Wholesale",
}
sector_long_name = {v: k for k, v in sector_short_name.items()}

In [42]:
state_indus_tot_empl.rename(
    columns={k: v + " Total Empl" for k, v in sector_short_name.items()}, inplace=True
)
state_indus_median_salary.rename(
    columns={k: v + " Mdn Salary" for k, v in sector_short_name.items()}, inplace=True
)

In [43]:
ds_tot_empl = df[
    df.O_GROUP.eq("detailed")
    & df.I_GROUP.eq("sector")
    & df.OCC_TITLE.eq("Data Scientists")
].pivot_table(index="AREA_TITLE", columns="NAICS_TITLE", values="TOT_EMP")
ds_tot_empl_melt = df.loc[
    df.O_GROUP.eq("detailed")
    & df.I_GROUP.eq("sector")
    & df.OCC_TITLE.str.contains("Data S"),
    ["AREA_TITLE", "NAICS_TITLE", "TOT_EMP"],
]
ds_mdn_salary = df[
    df.O_GROUP.eq("detail")
    & df.I_GROUP.eq("sector")
    & df.OCC_TITLE.eq("Data Scientists")
].pivot_table(index="AREA_TITLE", columns="NAICS_TITLE", values="A_MEDIAN")

ds_mdn_salary_melt = df.loc[
    df.O_GROUP.eq("detailed")
    & df.I_GROUP.eq("sector")
    & df.OCC_TITLE.str.contains("Data S"),
    ["AREA_TITLE", "NAICS_TITLE", "A_MEDIAN"],
]
ds_pct = df[
    df.O_GROUP.eq("detail")
    & df.I_GROUP.eq("sector")
    & df.OCC_TITLE.eq("Data Scientists")
].pivot_table(index="AREA_TITLE", columns="NAICS_TITLE", values="PCT_TOTAL")

ds_pct_melt = df.loc[
    df.O_GROUP.eq("detailed")
    & df.I_GROUP.eq("sector")
    & df.OCC_TITLE.str.contains("Data S"),
    ["AREA_TITLE", "NAICS_TITLE", "PCT_TOTAL"],
]

In [44]:
df[df.OCC_TITLE.str.contains("Data S")]["OCC_TITLE"].value_counts()

OCC_TITLE
Data Scientists    1565
Name: count, dtype: int64

In [45]:
ds_tot_empl.rename(
    columns={k: "DS " + v + " Tot Empl" for k, v in sector_short_name.items()},
    inplace=True,
)
ds_mdn_salary.rename(
    columns={k: "DS " + v + " Mdn Salary" for k, v in sector_short_name.items()},
    inplace=True,
)
ds_pct.rename(
    columns={k: "DS " + v + " Pct" for k, v in sector_short_name.items()},
    inplace=True,
)

In [46]:
vars = (
    state_indus_tot_empl_melt,
    state_indus_salary_melt,
    ds_tot_empl_melt,
    ds_mdn_salary_melt,
    ds_pct_melt,
)

for var in vars:
    display(var.head(2))
    display(var.shape)
    display(var.iloc[:, :2].drop_duplicates().shape)

      AREA_TITLE                                 NAICS_TITLE  TOT_EMP
16357    Alabama  Agriculture, Forestry, Fishing and Hunting   5800.0
16358     Alaska  Agriculture, Forestry, Fishing and Hunting    210.0

(1009, 3)

(1009, 2)

      AREA_TITLE                                 NAICS_TITLE  A_MEDIAN
16357    Alabama  Agriculture, Forestry, Fishing and Hunting   41080.0
16358     Alaska  Agriculture, Forestry, Fishing and Hunting   57260.0

(1009, 3)

(1009, 2)

       AREA_TITLE    NAICS_TITLE  TOT_EMP
226322    Alabama  Manufacturing     30.0
226323    Alabama    Information     60.0

(369, 3)

(369, 2)

       AREA_TITLE    NAICS_TITLE  A_MEDIAN
226322    Alabama  Manufacturing   76480.0
226323    Alabama    Information   59750.0

(369, 3)

(369, 2)

       AREA_TITLE    NAICS_TITLE  PCT_TOTAL
226322    Alabama  Manufacturing       0.01
226323    Alabama    Information       0.25

(369, 3)

(369, 2)

In [68]:
state_totals = pd.read_csv(
    "data/bls_all_data_M_2022_states.csv",
    na_values=["**", "*", "¹", "#", "~"],
    thousands=",",
    usecols=["AREA_TITLE", "TOT_EMP", "A_MEDIAN"],
)

In [79]:
from functools import reduce

final = reduce(
    lambda x, y: x.merge(
        y,
        how="left",
        left_on=["AREA_TITLE", "NAICS_TITLE"],
        right_on=["AREA_TITLE", "NAICS_TITLE"],
    ),
    vars,
)
display(final)
display(state_totals)
final=final.merge(state_totals, how="left", 
            left_on="AREA_TITLE", 
            right_on="AREA_TITLE")

display(final)

,AREA_TITLE,NAICS_TITLE,TOT_EMP_x,A_MEDIAN_x,TOT_EMP_y,A_MEDIAN_y,PCT_TOTAL
0,Alabama,"Agriculture, Forestry, Fishing and Hunting",5800.0,41080.0,NaN,NaN,NaN
1,Alaska,"Agriculture, Forestry, Fishing and Hunting",210.0,57260.0,NaN,NaN,NaN
2,Arizona,"Agriculture, Forestry, Fishing and Hunting",9840.0,30080.0,NaN,NaN,NaN
3,Arkansas,"Agriculture, Forestry, Fishing and Hunting",4120.0,37920.0,NaN,NaN,NaN
4,California,"Agriculture, Forestry, Fishing and Hunting",239210.0,33540.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1004,Virginia,"Federal, State, and Local Government, excludin...",357640.0,65750.0,50.0,84680.0,0.01
1005,Washington,"Federal, State, and Local Government, excludin...",258360.0,77760.0,NaN,NaN,NaN
1006,West Virginia,"Federal, State, and Local Government, excludin...",76640.0,43590.0,40.0,64690.0,0.05
1007,Wisconsin,"Federal, State, and Local Government, excludin...",160490.0,54890.0,NaN,NaN,NaN
1008,Wyoming,"Federal, State, and Local Government, excludin...",28910.0,50260.0,NaN,NaN,NaN

              AREA_TITLE  TOT_EMP  A_MEDIAN
0                Alabama      NaN   85870.0
1                 Alaska    150.0  100040.0
2                Arizona   2860.0  102770.0
3             California  29420.0  126810.0
4               Colorado   3540.0  103200.0
5            Connecticut    950.0  105700.0
6               Delaware    480.0  132300.0
7   District of Columbia   3200.0   97660.0
8                Florida   8190.0  100520.0
9                Georgia   5650.0  100400.0
10                Hawaii     90.0  112330.0
11                 Idaho    250.0   96490.0
12              Illinois   6350.0  103730.0
13               Indiana   2200.0   75970.0
14                  Iowa   1970.0   94860.0
15                Kansas    430.0   88860.0
16              Kentucky      NaN   81990.0
17             Louisiana    580.0   65410.0
18                 Maine    800.0   95700.0
19              Maryland   2010.0  117730.0
20         Massachusetts      NaN  106070.0
21              Michigan   3900.0   85470.0
22             Minnesota   1600.0  106920.0
23           Mississippi      NaN   56950.0
24              Missouri   4020.0   78780.0
25               Montana     90.0   75200.0
26              Nebraska   1310.0   84490.0
27                Nevada    850.0   82110.0
28         New Hampshire    620.0   77620.0
29            New Jersey   3030.0  129210.0
30            New Mexico    330.0   78790.0
31              New York  14760.0  124030.0
32        North Carolina   5350.0  121970.0
33          North Dakota    150.0   91050.0
34                  Ohio   3650.0   88950.0
35              Oklahoma   1740.0   79720.0
36                Oregon   1610.0  102530.0
37          Pennsylvania   6370.0   91330.0
38          Rhode Island    620.0  109240.0
39        South Carolina   1180.0   99370.0
40          South Dakota    110.0  108310.0
41             Tennessee   1210.0   94690.0
42                 Texas  13780.0   99350.0
43                  Utah   3070.0   81250.0
44               Vermont    150.0       NaN
45              Virginia   4500.0  132400.0
46            Washington   4160.0  135850.0
47         West Virginia     70.0   67010.0
48             Wisconsin   2740.0   95410.0
49               Wyoming     40.0  139970.0
50           Puerto Rico     70.0   61730.0

,AREA_TITLE,NAICS_TITLE,TOT_EMP_x,A_MEDIAN_x,TOT_EMP_y,A_MEDIAN_y,PCT_TOTAL,TOT_EMP,A_MEDIAN
0,Alabama,"Agriculture, Forestry, Fishing and Hunting",5800.0,41080.0,NaN,NaN,NaN,NaN,85870.0
1,Alaska,"Agriculture, Forestry, Fishing and Hunting",210.0,57260.0,NaN,NaN,NaN,150.0,100040.0
2,Arizona,"Agriculture, Forestry, Fishing and Hunting",9840.0,30080.0,NaN,NaN,NaN,2860.0,102770.0
3,Arkansas,"Agriculture, Forestry, Fishing and Hunting",4120.0,37920.0,NaN,NaN,NaN,NaN,NaN
4,California,"Agriculture, Forestry, Fishing and Hunting",239210.0,33540.0,NaN,NaN,NaN,29420.0,126810.0
...,...,...,...,...,...,...,...,...,...
1004,Virginia,"Federal, State, and Local Government, excludin...",357640.0,65750.0,50.0,84680.0,0.01,4500.0,132400.0
1005,Washington,"Federal, State, and Local Government, excludin...",258360.0,77760.0,NaN,NaN,NaN,4160.0,135850.0
1006,West Virginia,"Federal, State, and Local Government, excludin...",76640.0,43590.0,40.0,64690.0,0.05,70.0,67010.0
1007,Wisconsin,"Federal, State, and Local Government, excludin...",160490.0,54890.0,NaN,NaN,NaN,2740.0,95410.0
1008,Wyoming,"Federal, State, and Local Government, excludin...",28910.0,50260.0,NaN,NaN,NaN,40.0,139970.0

In [83]:
final.columns =  ["state", "sector", "state_sector_tot_headcount", "state_sector_salary", "ds_state_sector_headcount", "ds_state_sector_salary", "ds_state_sector_pct", "ds_state_tot_headcount", "ds_state_mdn_salary"]

In [89]:
final.to_csv("data/imputation/state_sector_data.csv", index=False)

In [90]:
pd.read_csv("data/imputation/state_sector_data.csv")

,state,sector,state_sector_tot_headcount,state_sector_salary,ds_state_sector_headcount,ds_state_sector_salary,ds_state_sector_pct,ds_state_tot_headcount,ds_state_mdn_salary
0,Alabama,"Agriculture, Forestry, Fishing and Hunting",5800.0,41080.0,NaN,NaN,NaN,NaN,85870.0
1,Alaska,"Agriculture, Forestry, Fishing and Hunting",210.0,57260.0,NaN,NaN,NaN,150.0,100040.0
2,Arizona,"Agriculture, Forestry, Fishing and Hunting",9840.0,30080.0,NaN,NaN,NaN,2860.0,102770.0
3,Arkansas,"Agriculture, Forestry, Fishing and Hunting",4120.0,37920.0,NaN,NaN,NaN,NaN,NaN
4,California,"Agriculture, Forestry, Fishing and Hunting",239210.0,33540.0,NaN,NaN,NaN,29420.0,126810.0
...,...,...,...,...,...,...,...,...,...
1004,Virginia,"Federal, State, and Local Government, excludin...",357640.0,65750.0,50.0,84680.0,0.01,4500.0,132400.0
1005,Washington,"Federal, State, and Local Government, excludin...",258360.0,77760.0,NaN,NaN,NaN,4160.0,135850.0
1006,West Virginia,"Federal, State, and Local Government, excludin...",76640.0,43590.0,40.0,64690.0,0.05,70.0,67010.0
1007,Wisconsin,"Federal, State, and Local Government, excludin...",160490.0,54890.0,NaN,NaN,NaN,2740.0,95410.0
1008,Wyoming,"Federal, State, and Local Government, excludin...",28910.0,50260.0,NaN,NaN,NaN,40.0,139970.0