In [29]:
import pandas as pd

df = pd.read_excel(
    "data/all_data_M_2022.xlsx",
    usecols=[
        "AREA_TITLE",
        "NAICS_TITLE",
        "OCC_TITLE",
        "AREA_TYPE",
        "I_GROUP",
        "O_GROUP",
        "TOT_EMP",
        "A_MEAN",
        "A_MEDIAN",
    ],
    na_values=[
        "**",
        "*",
        "ยน",
        "#",
        "~"

    ],
    thousands=","
)

Notes:

ยน Relative Standard Error (RSE) is a measure of the reliability of a statistic; the smaller the relative standard error, the more precise the estimate",

\*  = indicates that a wage estimate is not available,

**  = indicates that an employment estimate is not available,

\# = indicates a wage that is equal to or greater than $115.00 per hour or $239,200 per year",

\~ = indicates a percent total less than 0.05% ,

In [30]:
display(df.I_GROUP.unique())
display(df.O_GROUP.unique())

array(['cross-industry', 'cross-industry, ownership', 'sector', '3-digit',
       '4-digit', '6-digit', '5-digit', '3-digit, ownership',
       '4-digit, ownership'], dtype=object)

array(['total', 'major', 'minor', 'broad', 'detailed'], dtype=object)

In [31]:
usa_sectors = df[(df["AREA_TYPE"] == 1) & (df["I_GROUP"] == "sector")] 
states = df[df["AREA_TYPE"]==2]
display(states.NAICS_TITLE.unique())
display(usa_sectors.I_GROUP.unique())

array(['Cross-industry'], dtype=object)

array(['sector'], dtype=object)

In [35]:
usa_sectors_all_occupations = usa_sectors[usa_sectors["OCC_TITLE"] == "All Occupations"]

In [38]:
state_total_empl = states.loc[states["O_GROUP"]=="total"]

In [40]:
states_total_ds = states.loc[states["OCC_TITLE"] == "Data Scientists"]

In [43]:
states_total_ds

                  AREA_TITLE  AREA_TYPE  ...    A_MEAN  A_MEDIAN
180278               Alabama          2  ...   91570.0   85870.0
180279                Alaska          2  ...  103810.0  100040.0
180280               Arizona          2  ...  104220.0  102770.0
180281            California          2  ...  147390.0  126810.0
180282              Colorado          2  ...  116560.0  103200.0
180283           Connecticut          2  ...  110220.0  105700.0
180284              Delaware          2  ...  133320.0  132300.0
180285  District of Columbia          2  ...  110190.0   97660.0
180286               Florida          2  ...  100780.0  100520.0
180287               Georgia          2  ...  106400.0  100400.0
180288                Hawaii          2  ...  103470.0  112330.0
180289                 Idaho          2  ...   95520.0   96490.0
180290              Illinois          2  ...  109870.0  103730.0
180291               Indiana          2  ...   78890.0   75970.0
180292                  Iowa          2  ...   94190.0   94860.0
180293                Kansas          2  ...   94920.0   88860.0
180294              Kentucky          2  ...   86470.0   81990.0
180295             Louisiana          2  ...   71710.0   65410.0
180296                 Maine          2  ...  101080.0   95700.0
180297              Maryland          2  ...  118960.0  117730.0
180298         Massachusetts          2  ...  120340.0  106070.0
180299              Michigan          2  ...   92820.0   85470.0
180300             Minnesota          2  ...  111740.0  106920.0
180301           Mississippi          2  ...   65940.0   56950.0
180302              Missouri          2  ...   81860.0   78780.0
180303               Montana          2  ...   74720.0   75200.0
180304              Nebraska          2  ...   89340.0   84490.0
180305                Nevada          2  ...   96870.0   82110.0
180306         New Hampshire          2  ...   87300.0   77620.0
180307            New Jersey          2  ...  129980.0  129210.0
180308            New Mexico          2  ...   87090.0   78790.0
180309              New York          2  ...  128200.0  124030.0
180310        North Carolina          2  ...  119960.0  121970.0
180311          North Dakota          2  ...   93340.0   91050.0
180312                  Ohio          2  ...   92080.0   88950.0
180313              Oklahoma          2  ...   87810.0   79720.0
180314                Oregon          2  ...  111090.0  102530.0
180315          Pennsylvania          2  ...   95940.0   91330.0
180316          Rhode Island          2  ...  117570.0  109240.0
180317        South Carolina          2  ...  100550.0   99370.0
180318          South Dakota          2  ...  108430.0  108310.0
180319             Tennessee          2  ...  112070.0   94690.0
180320                 Texas          2  ...  102230.0   99350.0
180321                  Utah          2  ...   88660.0   81250.0
180322               Vermont          2  ...       NaN       NaN
180323              Virginia          2  ...  133990.0  132400.0
180324            Washington          2  ...  140780.0  135850.0
180325         West Virginia          2  ...   72550.0   67010.0
180326             Wisconsin          2  ...   90760.0   95410.0
180327               Wyoming          2  ...  128860.0  139970.0

[50 rows x 9 columns]

In [45]:
usa_sectors.NAICS_TITLE.unique()

array(['Agriculture, Forestry, Fishing and Hunting',
       'Mining, Quarrying, and Oil and Gas Extraction', 'Utilities',
       'Construction', 'Wholesale Trade', 'Information',
       'Finance and Insurance', 'Real Estate and Rental and Leasing',
       'Professional, Scientific, and Technical Services',
       'Management of Companies and Enterprises',
       'Administrative and Support and Waste Management and Remediation Services',
       'Educational Services', 'Health Care and Social Assistance',
       'Arts, Entertainment, and Recreation',
       'Accommodation and Food Services',
       'Other Services (except Public Administration)',
       'Federal, State, and Local Government, excluding state and local schools and hospitals and the U.S. Postal Service (OES Designation)',
       'Manufacturing', 'Retail Trade', 'Transportation and Warehousing'],
      dtype=object)