In [39]:
import pandas as pd
import numpy as np
employed_population = pd.read_csv("data/DS_salary_factors.csv",
                    usecols=["GeoName","Total Employment in State/Area"]).set_index("GeoName", drop=True)
state_data_scientists = pd.read_csv("data/bls_all_data_M_2022_states.csv",
                    usecols=["AREA_TITLE","TOT_EMP"]).set_index("AREA_TITLE", drop=True)
df  = pd.merge(employed_population, state_data_scientists, left_index=True, right_index=True)

In [44]:
missing_states = df[df.TOT_EMP == "**"].index

In [46]:
df = df.replace({"**":np.nan}).astype(float)
print(f"""
mean : {(df.iloc[:, 1]/df.iloc[:, 0]).mean(axis=0)},
std  : {(df.iloc[:, 1]/df.iloc[:, 0]).std(axis=0)}""")

mean : 0.0009470007410433261,
std  : 0.0012279641717743432

In [80]:
indus = pd.read_csv("data/2022_oes_ds_st_indus.csv", usecols=["AREA_TITLE", "NAICS_TITLE", "I_GROUP", "TOT_EMP"], thousands=',')
indus = indus[indus["I_GROUP"]=="sector"]
indus["TOT_EMP"] = pd.to_numeric(indus["TOT_EMP"],
                                  "coerce")

In [82]:
indus_piv = indus.pivot(index="AREA_TITLE", columns="NAICS_TITLE", values="TOT_EMP")

indus_state_sum =indus_piv.T.sum()
indus_state_sum.name="IND_EMP"

In [84]:
df = df.merge(indus_state_sum, left_index=True, right_index=True)

In [87]:
df.fillna(method="bfill", axis=1)
df.iloc[:, 1] - df.iloc[:, 2]

/tmp/ipykernel_477233/2273939807.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method="bfill", axis=1)

Alabama                   NaN
Alaska                   80.0
Arizona                 260.0
California               20.0
Colorado                140.0
Connecticut              70.0
Delaware                 60.0
District of Columbia    170.0
Florida                  50.0
Georgia                 320.0
Hawaii                   40.0
Idaho                   120.0
Illinois                450.0
Indiana                  60.0
Iowa                     90.0
Kansas                  110.0
Kentucky                  NaN
Louisiana               580.0
Maine                    70.0
Maryland                 90.0
Massachusetts             NaN
Michigan                240.0
Minnesota                80.0
Mississippi               NaN
Missouri                170.0
Montana                  40.0
Nebraska                110.0
Nevada                  150.0
New Hampshire            90.0
New Jersey              920.0
New Mexico               80.0
New York                 70.0
North Carolina           60.0
Ohio                    490.0
Oklahoma                 70.0
Oregon                   50.0
Pennsylvania             80.0
Rhode Island             90.0
South Carolina           80.0
South Dakota             10.0
Tennessee                80.0
Texas                   110.0
Utah                    130.0
Vermont                 150.0
Virginia                 60.0
Washington               70.0
West Virginia            30.0
Wisconsin                80.0
dtype: float64