In [3]:
import requests
from dotenv import load_dotenv
import os
import pandas as pd

# Load environment variables
load_dotenv()

# Retrieve API key from environment variables
api_key = os.getenv("CENSUS_API_KEY")

# Base URL for the Census API
base_url = "https://api.census.gov/data"

# Specify the year, dataset, and variables you are interested in
year = "2015"
dataset = "acs/acs5"
variables = "NAME,B01001_001E"  # Example variable for total population

county2fips = {
    "Barrow": "13013",
    "Bartow": "13015",
    "Butts": "13035",
    "Carroll": "13045",
    "Cherokee": "13057",
    "Clayton": "13063",
    "Cobb": "13067",
    "Coweta": "13077",
    "Dawson": "13085",
    "DeKalb": "13089",
    "Douglas": "13097",
    "Fayette": "13113",
    "Forsyth": "13117",
    "Fulton": "13121",
    "Gwinnett": "13135",
    "Haralson": "13143",
    "Heard": "13149",
    "Henry": "13151",
    "Jasper": "13159",
    "Lamar": "13171",
    "Meriwether": "13199",
    "Morgan": "13211",
    "Newton": "13217",
    "Paulding": "13223",
    "Pickens": "13227",
    "Pike": "13231",
    "Rockdale": "13247",
    "Spalding": "13255",
}
df = pd.DataFrame()
for county, fips in county2fips.items():
    st_fips = fips[:2]
    cty_fips = fips[2:]
    url = f"https://api.census.gov/data/2022/acs/acs5?get=NAME,B01001_001E&for=block group:*&in=state:{st_fips}+county:{cty_fips}&key={api_key}"
    resp = requests.get(url)

    data = resp.json()
    df = pd.concat([df, pd.DataFrame(data=data[1:], columns=data[0])])

In [4]:
df

,NAME,B01001_001E,state,county,tract,block group
0,Block Group 1; Census Tract 1801.03; Barrow Co...,2025,13,013,180103,1
1,Block Group 2; Census Tract 1801.03; Barrow Co...,2020,13,013,180103,2
2,Block Group 3; Census Tract 1801.03; Barrow Co...,1969,13,013,180103,3
3,Block Group 1; Census Tract 1801.04; Barrow Co...,2611,13,013,180104,1
4,Block Group 1; Census Tract 1801.05; Barrow Co...,1232,13,013,180105,1
...,...,...,...,...,...,...
43,Block Group 3; Census Tract 1612.01; Spalding ...,1809,13,255,161201,3
44,Block Group 1; Census Tract 1612.02; Spalding ...,810,13,255,161202,1
45,Block Group 2; Census Tract 1612.02; Spalding ...,830,13,255,161202,2
46,Block Group 3; Census Tract 1612.02; Spalding ...,1404,13,255,161202,3
47,Block Group 4; Census Tract 1612.02; Spalding ...,2224,13,255,161202,4

In [5]:
df.to_csv("data/atlanta_metro_block.csv", index=False)